html *{margin:0;padding:0;font-size:1em;}

body{width:100%;height:100%;}

.covercon{width:100%;padding:5%;background-color:#a51c30;text-align:center;min-height:100%;}
h1{font-size:2em;color:#fff;}
p.line{width:100%;height:1px;background-color:#fff;margin:15px 0;}
.tipcon{margin-bottom:20px;}
.tipcon span{color:#fff;line-height:20px;font-size:1.4em;margin-right:10px;vertical-align:middle;}
.tipcon button{background:none;border:none;line-height:20px;border-radius:0;background-color:#32b332;color:#fff;padding:0 10px;vertical-align:middle;}

.routetab{border:solid 2px #fff;margin-bottom:40px;position:relative;}
.routetab table{width:80%;margin:10px 10% 30px;text-align:center;font-size:1.4em;color:#fff;}
.routetab table td{padding:5px 0}


.checkbtncon{padding:0 20px;position:absolute;bottom:-13px;background-color:#a51c30;}
.checkbtncon b{line-height:26px;background-color:#fff;color:#a51c30;padding:0px 15px;display:block;}
.checkbtncon b.hover{background-color:#32b332;color:#fff;}


.bottompart{color:#fff;}
.bottompart p{margin:0;width:60%;margin:auto;text-align:center;line-height:20px;}


.checkbtn{line-height:30px;position:absolute;bottom:-15px;left:50%;background-color:#fff;color:#a51c30;padding:0px 15px;}
.contentcon{width:100%;min-height:100%;position:absolute;top:0;-webkit-perspective:1000px;perspective:1000px;}
.contentcon .routecon{width:100%;min-height:95%;position:absolute;top:5%;}
.contentcon .routecon .arrowcon{position:absolute;z-index:9999;width:100%;height:30px;text-align:center;display:none;}
.contentcon .routecon .uparrow{top:0;}
.contentcon .routecon .downarrow{bottom:5%;}
/*.revert{-webkit-transform:rotateY(180deg)}*/
.item{position:absolute;width:100%;height:100%;top:0px;left:0px;background-color:#fff;}
.currentpage{z-index:9;display:block;}
.revert .currentpage{-webkit-transform:rotateY(-180deg)}
.otherpage{z-index:1;top:100%;display:none;}
.infotable{width:100%;color:#fff;}

.navbtncon{width:100%;position:fixed;top:0px;z-index:9999;background-color:#fff;list-style:none;height:5%;}
.navbtncon li{float:left;width:33.3%;height:100%;text-align:center;display:table-cell}
.navbtncon li.active{background-color:#aaa;color:#fff;}


.button{width:90%;color:#fff;margin-left:5%;}

.up-fadeout {
	transform-origin:50% 100%;
	-webkit-animation: MenuAnimOut1 .5s ease-out forwards;
	-moz-animation: MenuAnimOut1 .5s ease-out forwards;
	animation: MenuAnimOut1 .5s ease-out forwards;
}

.down-fadeout {
	transform-origin:50% 0%;
	-webkit-animation: MenuAnimOut3 .5s ease-out forwards;
	-moz-animation: MenuAnimOut3 .5s ease-out forwards;
	animation: MenuAnimOut3 .5s ease-out forwards;
}

.up-nextpage{
	display:block !important;
	z-index:10;
	-webkit-animation: MenuAnimOut2 .5s cubic-bezier(0, .6, .0, .99) forwards;
	-moz-animation: MenuAnimOut2 .5s cubic-bezier(0, .6, .0, .99) forwards;
	animation: MenuAnimOut2 .5s cubic-bezier(0, .6, .0, .99) forwards;
}

.down-nextpage{
	display:block !important;
	z-index:10;
	-webkit-animation: MenuAnimOut4 .5s cubic-bezier(0, .6, .0, .99) forwards;
	-moz-animation: MenuAnimOut4 .5s cubic-bezier(0, .6, .0, .99) forwards;
	animation: MenuAnimOut4 .5s cubic-bezier(0, .6, .0, .99) forwards;
}

@-webkit-keyframes MenuAnimOut1 {
	50% {
		-webkit-transform: rotateX(15deg) translateZ(0px);
		opacity:0.2;
	}
	100% {
		-webkit-transform: rotateX(15deg) translateZ(-200px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut2 {
	0% {
		top:50%;
		opacity: 0;
		-webkit-transform:translateZ(-200px);
	}
	100% {
		-webkit-transform:translateZ(0px);
		top:0px;
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimOut3 {
	50% {
		-webkit-transform: rotateX(-15deg) translateZ(0px);
		opacity:0.2;
	}
	100% {
		-webkit-transform: rotateX(-15deg) translateZ(-200px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut4 {
	0% {
		top:-50%;
		opacity: 0;
		-webkit-transform:translateZ(200px);
	}
	100% {
		-webkit-transform:translateZ(0px);
		top:0px;
		opacity: 1;
	}
}



