html *{margin:0;padding:0;font-size:1.05em;}

body{width:100%;height:100%;}

.covercon{width:100%;padding:5%;background-color:#a51c30;text-align:center;min-height:100%;}
.covercon .coverlayer{width:100%;height:100%;background-color:#000;opacity:0.5;z-index:999;position:absolute;left:0px;top:0px;display:none;}
h1{font-size:2em;color:#fff;}
p.line{width:100%;height:1px;background-color:#fff;margin:15px 0;}
.tipcon{margin-bottom:20px;}
img.qrcode{position:fixed;width:40%;left:30%;top:0;z-index:9999;display:none;}


.tipcon span{color:#fff;line-height:20px;margin-right:10px;vertical-align:middle;}
.tipcon button{background:none;border:none;line-height:20px;border-radius:0;background-color:#32b332;color:#fff;padding:0 10px;vertical-align:middle;}

.routetab{border:solid 2px #fff;margin-bottom:40px;position:relative;}
.routetab table{width:80%;margin:10px 10% 30px;text-align:center;color:#fff;}
.routetab table td{padding:5px 0}


.checkbtncon{padding:0 20px;position:absolute;bottom:-13px;background-color:#a51c30;}
.checkbtncon b{line-height:26px;background-color:#fff;color:#a51c30;padding:0px 15px;display:block;}
.checkbtncon b.hover{background-color:#32b332;color:#fff;}


.bottompart{color:#fff;}
.bottompart p{margin:0;width:60%;margin:auto;text-align:center;line-height:20px;}



.contentcon{width:100%;min-height:100%;position:absolute;top:0;-webkit-perspective:1000px;perspective:1000px;background-color:#f2f2f2;display:none;}
.contentcon .routecon{width:100%;position:absolute;top:60px;}
.contentcon .routecon .imgcon{width:100%;background:#fff url("../img/loading.gif") no-repeat center center;background-size:10% auto;}
.contentcon .routecon .arrowcon{position:absolute;z-index:9999;width:100%;height:30px;text-align:center;display:none;}
.contentcon .routecon .uparrow{top:0;}
.contentcon .routecon .downarrow{bottom:0;}
/*.revert{-webkit-transform:rotateY(180deg)}*/
.item{position:absolute;width:100%;height:100%;top:0px;left:0px;background-color:#f2f2f2;}
.currentpage{z-index:9;display:block;}
.revert .currentpage{-webkit-transform:rotateY(-180deg);}
.otherpage{z-index:1;top:100%;display:none;}

h2.routename{font-size:1.6em;margin:5% 0 2%;padding-left:8px;margin-left:5%;}
table.infotable{color:#333;width:90%;margin-left:5%;}
@media only screen and (min-device-height : 500px) and (max-device-height : 600px){
	h2.routename{font-size:1.2em !important}
	.infotable{color:#fff;font-size:0.8em;margin-left:5%;}
	.infotable td{padding-top:4px !important;padding-bottom:4px !important;}
}
@media only screen and (min-device-height : 601px) and (max-device-height : 660px){
	h2.routename{font-size:1.4em !important}
	.infotable{color:#fff;font-size:0.9em;}
	.infotable td{padding-top:6px !important;padding-bottom:6px !important;}
}


.navbtncon{width:100%;padding:5% 10%;position:absolute;top:0px;z-index:9999;background-color:#f2f2f2;list-style:none;display:none;}
.navbtncon li{float:left;width:26.6%;height:100%;text-align:center;display:table-cell;background-color:#a51c30;color:#fff;}
.navbtncon li.margin{margin:0 10%;}

.btncon{overflow:hidden;letter-spacing:0.5em;}
.checkbtn{width:30%;line-height:25px;color:#fff;background:#a51c30 url("../img/checkbg.png") no-repeat 20% center;background-size:auto 60%;border:solid 1px #a51c30;float:left;margin-left:15%;}
.checkbtn b{margin-left:42%;}
.checkbtn a{display:block;width:100%;width:100%;color:#fff;text-decoration:none;}
.checkbtn a:hover{color:#fff;text-decoration:none;}
.checkbtn a:link{color:#fff;text-decoration:none;}

.zanbtn{width:30%;line-height:25px;color:#a51c30;background:url("../img/zanbg.png") no-repeat 20% center;background-size:auto 60%;border:solid 1px #a51c30;float:right;margin-right:15%;}
.zanbtn b{margin-left:42%;}

.up-fadeout{
	transform-origin:50% 100%;
	-webkit-animation: MenuAnimOut1 .5s ease-out forwards;
	-moz-animation: MenuAnimOut1 .5s ease-out forwards;
	animation: MenuAnimOut1 .5s ease-out forwards;
}

.down-fadeout {
	transform-origin:50% 0%;
	-webkit-animation: MenuAnimOut3 .5s ease-out forwards;
	-moz-animation: MenuAnimOut3 .5s ease-out forwards;
	animation: MenuAnimOut3 .5s ease-out forwards;
}

.up-nextpage{
	display:block !important;
	z-index:10;
	-webkit-animation: MenuAnimOut2 .5s cubic-bezier(0, .6, .0, .99) forwards;
	-moz-animation: MenuAnimOut2 .5s cubic-bezier(0, .6, .0, .99) forwards;
	animation: MenuAnimOut2 .5s cubic-bezier(0, .6, .0, .99) forwards;
}

.down-nextpage{
	display:block !important;
	z-index:10;
	-webkit-animation: MenuAnimOut4 .5s cubic-bezier(0, .6, .0, .99) forwards;
	-moz-animation: MenuAnimOut4 .5s cubic-bezier(0, .6, .0, .99) forwards;
	animation: MenuAnimOut4 .5s cubic-bezier(0, .6, .0, .99) forwards;
}

@-webkit-keyframes MenuAnimOut1 {
	50% {
		-webkit-transform: rotateX(15deg) translateZ(0px);
		opacity:0.2;
	}
	100% {
		-webkit-transform: rotateX(15deg) translateZ(-200px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut2 {
	0% {
		top:50%;
		opacity: 0;
		-webkit-transform:translateZ(-200px);
	}
	100% {
		-webkit-transform:translateZ(0px);
		top:0px;
		opacity: 1;
	}
}

@-webkit-keyframes MenuAnimOut3 {
	50% {
		-webkit-transform: rotateX(-15deg) translateZ(0px);
		opacity:0.2;
	}
	100% {
		-webkit-transform: rotateX(-15deg) translateZ(-200px);
		opacity: 0;
	}
}

@-webkit-keyframes MenuAnimOut4 {
	0% {
		top:-50%;
		opacity: 0;
		-webkit-transform:translateZ(200px);
	}
	100% {
		-webkit-transform:translateZ(0px);
		top:0px;
		opacity: 1;
	}
}



