<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimal-ui">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>爸妈营</title>
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/index.css"/>
	</head>
	<body ng-app="angular.tripnstudy" ng-controller="ForeignTripnstudyController">
		<div id="info" style="position:absolute;z-index:9999;"></div>
		<div class="covercon" style="position:absolute;top:0px;z-index:999;">
			<div class="coverlayer"></div>
			<img class="qrcode" src="img/qrcode.jpg" />
			<a href="http://mp.weixin.qq.com/s?__biz=MjM5NjI4MDU4NA==&mid=208549061&idx=1&sn=f31898e8d8600ff081d29715cbffe650&scene=1&key=b2574200810f04e83a5c094dbb5bd76a431c334e328fdcbfc0a47200eec196e9c9befc4064a98da1e5ed64062ac6ed72&ascene=1&uin=ODkwMDg4OTIw&devicetype=webwx&version=70000001&pass_ticket=aBWzGKsv8P2XgHGnq4s1kEOiSiKTn5o52uMkvknz9aMOhRB91JDxsdhJZrLZ3bFk">
			<h1>2015年20个</h1>
			<h1>最好的美国游学夏令营</h1>
			<p class="line"></p>
			<div class="tipcon">
				 <span>策划制作： 爸妈营（微信号：bamaying）</span><button id="addbtn">关注</button>
			</div>
			</a>
			<div class="routetab"  type="age">
				<table cellpadding="0" cellspacing="0"><tr><td colspan="6" style="text-decoration:none;">6-60岁 自由选择</td></tr><td>幼儿园</td><td>小学</td><td>初中</td><td>高中</td><td>亲子</td><td>成人</td></tr></table>
				<span class="checkbtncon"><b>查看</b></span>	
			</div>
			<div class="routetab" type="place">
				<table cellpadding="0" cellspacing="0"><tr><td colspan="3" style="text-decoration:none;">20个 游学地点</td></tr><tr><td>哈佛大学</td><td>斯坦福大学</td><td>哥伦比亚大学</td></tr>
					<tr><td colspan="3"><span style="width:50%;">硅谷</span><span style="width:50%;">白宫</span></td></tr></table>
				<span class="checkbtncon"><b>查看</b></span>
			</div>
			<div class="routetab"  type="topic">
				<table cellpadding="0" cellspacing="0"><tr><td colspan="3" style="text-decoration:none;">26种 特色主题</td></tr><tr><td>英语提高</td><td>科学学习</td><td>留学准备</td></tr>
					<tr><td colspan="3"><span style="width:50%;">亲子</span><span style="width:50%;">专项</span></td></tr></table>
				<span class="checkbtncon"><b>查看</b></span>
			</div>
				
			<div class="bottompart">
				<p style="position:relative;">
					<span style="display:block;width:45%;margin:auto;background-color:#a51c30;position:relative;z-index:99;">合作伙伴</span>
					<span style="position:absolute;width:100%;height:50%;top:0px;left:0px;border-bottom:solid 1px #fff;"></span>
				</p>
				<p>斯坦福大学</p>
				<p>哈佛大学</p>
				<p>环识国际</p>
				<p>英孚教育</p>
			</div>
		</div>
		<ul class="nav navbtncon">
				<li ng-repeat="o in tabs" ng-class="{'active':o.isActive,' ':o.isActive}"  ng-click="sortbytype(o)">{{o.text}}<i class="splitline"></i></li>
		</ul>
		<div class="contentcon" >
			<div class="preroutecon"></div>
			<div class="routecon">
				<div class="arrowcon uparrow"><span class="glyphicon glyphicon-menu-up"></span></div>
					<div ng-repeat="o in tsdatas" class="item" ng-class="{'currentpage':o.curr,'otherpage':!o.curr}" index="{{$index}}">
						<div class="imgcon">
							<img ng-src="{{o.placeimgs[0]}}" style="width:100%;"/>
						</div>
						<h2 class="routename"><b>{{o.name}}</b></h2>
						<table class="table infotable" cellpadding="0" cellspacing="0">
							<tr><td class="title" style="border:none;">特色</td><td class="content" style="border:none;">：{{o.features}}</td></tr>
							<tr><td class="title">年龄</td><td class="content">：{{o.agedesc}}</td></tr>
							<tr><td class="title">地点</td><td class="content">：{{o.placedesc}}</td></tr>
							<tr><td class="title">主题</td><td class="content">：{{o.topicdesc}}</td></tr>
							<tr><td class="title">主办</td><td class="content">：{{o.agency}}</td></tr>
							<tr><td class="title">日期</td><td class="content">：{{o.date}}</td></tr>
							<tr><td class="title">价格</td><td class="content">：{{o.price}}</td></tr>
							</tr>
						</table>

						<div class="btncon">
							<div class="checkbtn"><a href="{{o.link}}"><b>查看</b></a></div>
							<div class="zanbtn" ng-click="zan(o)"><b>{{o.read}} 人关注</b></div>
						</div>
						<!--<button class="btn button" style="background-color:#{{o.bgc}}"><b>查看</b></button>-->
					</div>
				<div class="arrowcon downarrow"><i class="glyphicon glyphicon-menu-down"></i></div>
			</div>
		</div>
		<script type="text/javascript" src="scripts/jquery.min.js"></script>
		<script type="text/javascript" src="scripts/jgestures.min.js"></script>
		<script type="text/javascript" src="scripts/angular-1.2.28.min.js"></script>
		<script type="text/javascript" src="scripts/ui-bootstrap-tpls-0.12.0.min.js"></script>
		<script type="text/javascript" src="scripts/jquery.easing.js"></script>
		<script type="text/javascript" src="scripts/jgestures.min.js"></script>
		
		
		
		<script type="text/javascript">
				var ua=angular.module("angular.tripnstudy",[]);
				ua.run(["$rootScope",function($rs){
					/*
					 features:最大特色
					 age：年龄序列
					 agedesc：适合年龄
					 place：地点序列
					 placedesc：游学地点
					 placeimgs：地点图片集
					 topic：主题序列
					 topicdesc：特色主题
					 agency:主办机构
					 date:出发日期
					 price:价格范围
					 * 
					 * 
					 * */
					$rs.infodata=[
						{"curr":true,"bgc":"004787","name":"美国西海岸科技创新课程","imgurl":["img/ts1.jpg"],
							"features":"我是特色我是特色1","age":1,"agedesc":"10~15岁","place":5,"placedesc":"纽约",
							"placeimgs":["img/transparent.png"],"topic":2,"topicdesc":"我是主题我是主题1","agency":"我是机构我是机构1",
							"host":4,"date":"2015年12月31日","price":"10,000~50,000(RMB)","link":"#","read":8},
						{"curr":false,"bgc":"00a0c2","name":"精英名校预备课程","imgurl":["img/ts2.jpg"],
							"features":"我是特色我是特色2","age":2,"agedesc":"15~18岁","place":4,"placedesc":"墨尔本",
							"placeimgs":["img/transparent.png"],"topic":4,"topicdesc":"我是主题我是主题2","agency":"我是机构我是机构2",
							"host":2,"date":"2015年12月31日","price":"10,000~50,000(RMB)","link":"#","read":88},
						{"curr":false,"bgc":"00a74d","name":"佛罗里达户外探索课程","imgurl":["img/ts3.jpg"],
							"features":"我是特色我是特色3","age":3,"agedesc":"18~22岁","place":3,"placedesc":"东京",
							"placeimgs":["img/transparent.png"],"topic":1,"topicdesc":"我是主题我是主题3","agency":"我是机构我是机构3",
							"host":5,"date":"2015年12月31日","price":"10,000~50,000(RMB)","link":"#","read":888},
						{"curr":false,"bgc":"a8171a","name":"哥伦比亚大学暑期学术课程","imgurl":["img/ts4.jpg"],
							"features":"我是特色我是特色4","age":4,"agedesc":"20~30岁","place":2,"placedesc":"洛杉矶",
							"placeimgs":["img/transparent.png"],"topic":3,"topicdesc":"我是主题我是主题4","agency":"我是机构我是机构4",
							"host":3,"date":"2015年12月31日","price":"10,000~50,000(RMB)","link":"#","read":8888},
						{"curr":false,"bgc":"6a59a7","name":"子午线中心全球领导力课程","imgurl":["img/ts5.jpg"],
							"features":"我是特色我是特色5","age":5,"agedesc":"10~15岁","place":1,"placedesc":"纽约",
							"placeimgs":["img/transparent.png"],"topic":5,"topicdesc":"我是主题我是主题5","agency":"我是机构我是机构5",
							"host":1,"date":"2015年12月31日","price":"10,000~50,000(RMB)","link":"#","read":88888}
					];
					$rs.tabs=[
						{"text":"年龄","type":"age","isActive":true,"index":0},
						{"text":"地点","type":"place","isActive":false,"index":1},
						{"text":"主题","type":"topic","isActive":false,"index":2},
						{"text":"主办","type":"host","isActive":false,"index":3}
					];
				}]).controller("ForeignTripnstudyController",["$rootScope","$scope",function($rs,$s){
					
					$s.tsdatas=$rs.infodata;
					$s.tabs=$rs.tabs;
					$s.sortbytype=function(o){
						angular.forEach($s.tabs,function(v,i){v.isActive=false;});
						o.isActive=true;
						var testdeg=0;
						testrotate();
						
						
						function testrotate(){
							testdeg+=5;
							if(testdeg<180){
								if(testdeg==90){
									//console.log(90)
									$(".routecon").addClass("revert");
									//todo
									$s.tsdatas=sortbycata(o.type,$s.tsdatas);
									angular.forEach($s.tsdatas,function(v,i){if(i){v.curr=false}else{v.curr=true;}});
									$s.$apply();
									//var items=$(".routecon .item").removeClass("currentpage").remove("otherpage");
									//angular.forEach($s.tsdatas,function(v,i){if(i){$(items[i]).addClass("otherpage");}else{$(items[i]).addClass("currentpage");}});
								}
								$(".routecon").css("-webkit-transform","rotateY("+testdeg+"deg)");
								requestAnimFrame(testrotate);
							}else{
								var con=$(".routecon").removeClass("revert");
								var _style=con.attr("style").replace(/ /g,"").split(";");
								for(var i=0;i<_style.length;i++){
									var _p=_style[i];
									if(_p.length){
										_ps=_p.split(":");
										if(_ps[0].indexOf("transform")>=0){
											_ps[1]="rotateY(0)";
										}
										con.css(_ps[0],_ps[1]);
									}
								}
							}
						}
					}
					
					$(".routecon").bind("customevent",function(event,index,dir){
							angular.forEach($s.infodata,function(v,i){v.curr=false;});
							index=parseInt(index);
							if(dir=="up"){
								index++;
							}else if(dir=="down"){
								index--;
							}
							var curr=$s.infodata[index];
							if(curr){
								curr.curr=true;
							}
							$s.$apply();	
					}).bind("entercontent",function(event,type){
						ii=parseInt(io[type])-1;
						$.tsdatas=sortbycata(type,$s.tsdatas);
						angular.forEach($s.tsdatas,function(v,i){
							for(var j=0;j<v.imgurl.length;j++){
								$("<img src="+v.imgurl[j]+"  />").load(function(e){
									if(v.placeimgs[0].indexOf("transparent")>0){
										v.placeimgs=[];
									}
									v.placeimgs.push(this.src);
									$s.$apply();
								});
							}
							if(i){v.curr=false}else{v.curr=true;}
						});
					});
					
					var ocon=$(".contentcon .routecon");
					var pcon=$(".contentcon .preroutecon");
					var io={"0":"age","1":"place","2":"topic","3":"host","age":1,"place":2,"topic":3,"host":4};
					var ii=0;
					//ocon.bind("touchstart",function(){alert(ii)})
					ocon.bind("swiperight",swipr).bind("swiperightup",swipr).bind("swiperightdown",swipr);
					ocon.bind("swipeleft",swipl).bind("swipeleftup",swipl).bind("swipeleftdown",swipl);
					
					
					
					var ia=false;
					function swipr(){
						if(ia===false && ii>0){
							ia=true;
							pcon.html(ocon.html());
							$(".preroutecon .arrowcon").remove();
							ocon.css("left",0);
							pcon.css("left","100%").show();
							ii--;
							$s.tsdatas=sortbycata(io[(""+(ii))],$s.tsdatas);
							$s.$apply();
							$(".contentcon").css({"left":"-100%"}).animate({"left":0},function(){
								ocon.css("left",0);
								$(".contentcon").css("left",0);
								pcon.hide();
								ia=false;
							});
						}
						
					}
					
					function swipl(){
						if(ia===false && ii<3){
							ia=true;
							pcon.html(ocon.html());
							$(".preroutecon .arrowcon").remove();
							ocon.css("left","100%");
							pcon.show();
							ii++;
							$s.tsdatas=sortbycata(io[(""+(ii))],$s.tsdatas);
							$s.$apply();
							$(".contentcon").css({"left":0}).animate({"left":"-100%"},function(){
								ocon.css("left",0);
								$(".contentcon").css("left",0);
								pcon.css("left","100%").hide();
								ia=false;
							});
						}
						
					}
					
					/*
					ocon.bind("touchstart",function(){
						pcon.html(ocon.html());
						$(".preroutecon .arrowcon").remove();
						ocon.css("left","100%");
						$s.tsdatas=sortbycata(io[(""+(ii+1))],$s.tsdatas);
						angular.forEach($s.tsdatas,function(v,i){if(i){v.curr=false}else{v.curr=true;}});
						$s.$apply();
					});
					*/
					
					
				}]);
				
				
				
				
				
				
				//
				
				
				var sx,sy,cx,cy=0;
				var st,et=0;
				var xdeg=0,ztrnas=0;
				var tarindex=0;
				
				
				function touchendFunc(event){
					var tar=$(this);
					var e=event.originalEvent;
					var tl=e.changedTouches;
					var dy=(tl[0].clientY-sy);
					et=new Date().valueOf();
					
					$(".contentcon .routecon .uparrow").hide();
					$(".contentcon .routecon .downarrow").hide();
					var diffy=0;
					//-up +down
					if(dy){
						if((et-st)>100){
							diffy=20
						}
						if(dy>diffy){
							if(tarindex){
								var tar=$(".currentpage");
								var index=tar.attr("index");
								tar.prev().removeClass("otherpage").addClass("down-nextpage");
								tar.addClass("down-fadeout");
								setTimeout(function(){
									//tar.before(last.addClass("currentpage").removeClass("down-nextpage"));
									tar.prev().addClass("currentpage").removeClass("down-nextpage");
									tar.removeClass("currentpage").removeClass("down-fadeout").addClass("otherpage");
									$(".routecon").trigger("customevent",[index,"down"]);
								},500);
							}
							
						}else if(dy<-diffy){
							if(tarindex<4){
								var tar=$(".currentpage");
								var index=tar.attr("index");
								tar.next().removeClass("otherpage").addClass("up-nextpage");
								tar.addClass("up-fadeout");
								setTimeout(function(){
									tar.next().addClass("currentpage").removeClass("up-nextpage");
									tar.removeClass("currentpage").removeClass("up-fadeout").addClass("otherpage")//.appendTo($(".routecon"));
									$(".routecon").trigger("customevent",[index,"up"]);
								},500);
							}
							
						}
					}else{
						return;
					}
					$(".routecon").unbind("touchend");
				}
				
				function stopEvent(e){
					e.stopPropagation();
					e.preventDefault();
				}
				
				function resetDataorder(o){
					
				}
				
				window.requestAnimFrame = function() {
				  return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame || function(e, t) {
				    return window.setTimeout(e, 1e3 / 60)
				  };
				}();
				
				
				//var testdeg=0
				
				
				function sortbycata(type,data){
					for(var i=0;i<(data.length-1);i++){
						for(var j=1;j<(data.length-i);j++){
							var _l=parseInt(data[j-1][type]);
							var _r=parseInt(data[j][type]);
							
							var _temp
							if(_l>_r){
								_temp=data[j-1];
								data[j-1]=data[j];
								data[j]=_temp;
							}
						}
					}
					
					return data;
				}
				
				
				
				$(document).ready(function(){
					var wh=document.documentElement.clientHeight;
					var ww=document.documentElement.clientWidth;
					var tabs=$(".navbtncon li").css("line-height",(wh*0.05)+"px");
					var tabcon=$(".navbtncon");
					$(".checkbtn,.zanbtn").css("line-height",(wh*0.05)+"px");
					$(".navbtncon").css("width",document.documentElement.clientWidth+"px")
					//if(wh>500){
					if(0){
						$(".contentcon .routecon").css({"height":(wh-tabcon.outerHeight())+"px","top":tabcon.outerHeight()+"px"});
						$(".routecon").on("touchstart",".item",function(event){
							var tar=$(this);
							var e=event.originalEvent;
							var tl=e.changedTouches;
							tarindex=$(event.target).parents(".item").attr("index");
							if(tarindex===undefined){
								tarindex=$(event.target).attr("index");
							}
							tarindex=parseInt(tarindex);
							if(tarindex){
								if(tarindex<4){
									$(".contentcon .routecon .uparrow").show();
									$(".contentcon .routecon .downarrow").show();
								}else{
									$(".contentcon .routecon .uparrow").show();
								}
							}else{
								$(".contentcon .routecon .downarrow").show();	
							}
							st=new Date().valueOf();
							if(tl.length==1){
								cx=sx=tl[0].clientX;
								cy=sy=tl[0].clientY;
								
								tar.bind("touchmove",stopEvent);
								tar.bind("touchend",touchendFunc);
							}else{
								//tar.unbind("touchmove").unbind("touchend");
							}
						});
					}else{
						setTimeout(function(){
							var nav=$(".navbtncon").css("position","fixed")
							var con=$(".contentcon .routecon");
							con.css({"top":nav.outerHeight()});
							$(".contentcon .preroutecon").css({"top":nav.outerHeight()}).hide();
							var items=$(".item",$(".contentcon .routecon")).css({"padding-bottom":20}).removeClass("otherpage").addClass("currentpage");
							
							
							//alert(items.outerHeight())
							//alert(items.outerHeight()*items.length)
							//con.height((wh-tabcon.outerHeight())*items.length)
							//$(".item",$(".contentcon .routecon")).css("position","relative");
						},500)
					}
					
					

					
					$(".routetab").each(function(i,v){
						var tar=$(this);
						var btn=$(".checkbtncon",tar)
						btn.css("left",((tar.outerWidth()-btn.outerWidth())/2)).bind("touchstart",function(){
							$("b",$(this)).addClass("hover");
						}).bind("touchend",function(){
							$("b",$(this)).removeClass("hover");
						});
						$(this).click(function(){
							var _t=$(this);
							$(".routecon").trigger("entercontent",[_t.attr("type")]);
							$(window).scrollTop(0);
							$(".covercon").hide();
							var nav=$(".navbtncon").show();
							var con=$(".contentcon").show();
							//$(".contentcon").height($(".routecon",con).outerHeight()+nav.outerHeight());
						});
					});
					
					$(".routetab table td").bind("touchstart",function(){$(this).addClass("active")}).bind("touchend",function(){$(this).removeClass("acrive")});
					
					
					/*
					$("#addbtn").click(function(){
						$(".coverlayer").height($(".covercon").outerHeight()).show();
						var qr=$(".qrcode");
						qr.css({"top":(wh-0.2*ww)/2,"left":"50%","width":0}).show().animate({"top":(wh-0.4*ww)/2,"width":"40%","left":"30%"},{ 
						    easing: 'easeOutExpo', 
						    duration: 500, 
						    complete:function(){
						    	$(".coverlayer").unbind().click(function(){$(this).hide();$(".qrcode").hide();});
								$(".qrcode").unbind().click(function(){$(this).hide();$(".coverlayer").hide();});
						    } 
						});
					});
					*/
				});
			
		</script>
	</body>
</html>
